/**FONTS & INITIALISATION*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
}



/**HEADER -- HEADER -- HEADER*/
header {
    height: 7vh;
    background-color: #3C8EEF;
}

/**MAIN -- MAIN -- MAIN*/
main {
    min-height: 93vh;
    background-color: #efe9f4;

    display: flex;
    justify-content: center;
}

.conteneurMain {
    width: 45%;
    padding: 30px 10px 10px 10px;

    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    font-size: 0.9em;
    font-weight: 400;
}

/**INDEX -- INDEX -- INDEX*/
#conteneurIndex {
    width: 45%;
}

#conteneurIndex h2 {
    margin-bottom: 90px;
}

#buttonTypeLocalisation,
#formulaireCoordonneGeo {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 60px;
    width: 85%;
}

/**BOUTON ACCUEIL*/
.buttonIndex {
    border: solid;
    border-width: 3px;
    border-color: #4C7CDA;

    border-radius: 16px;
    padding: 16px 32px;

    cursor: pointer;
}

#geolocalisationButton {
    background-color: #4C7CDA;
    color: white;
    text-decoration: none;
}

/**FORMULAIRE COORDONNÉES*/
#latitude,
#longitude {
    display: flex;
    flex-direction: column;
    width: 27%;
}
#formulaireCoordonneGeo{
    display: none;
}
#formulaireCoordonneGeo input {
    height: 35px;
    border-radius: 8px;

    padding: 0 5px;

    border-style: solid;
    border-color: #4C7CDA;
    border-width: 2px;
}
#formulaireCoordonneGeo input:focus { 
    outline: none !important;
    box-shadow: 0 0 3px #4C7CDA;
 }
#validationForm {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-end;

    height: 35px;
    border-radius: 8px;

    border: solid;
    border-width: 2px;
    border-color: #4C7CDA;

    background-color: #55FF5A;
    color: #4C7CDA;

    padding: 0px 32px;

    cursor: pointer;

    font-weight: 900;
}