/**HEADER*/
#searchBar{
    position: absolute;
    right: 30px;
}
#resultatSearch{
    right: 30px;
}




#conteneurResultat {
    padding: 0;
    color: white;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
}

.majuscule {
    text-transform: uppercase;
    margin-top: 15px;
}

.grosTitre {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
}

/**TOP INFO METEO*/
#topMeteoTitre {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

#textTopMeteo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
}

#topMeteoTitre h1,
#topMeteoTitre h2 {
    margin-left: 30px;
}

/*Bouton favori*/
#villeFavoriButton {
    width: 55px;
    height: 55px;
    margin: 0 20px;
    padding: 5px;
    border-radius: 8px;

    background: #115592;

    font-size: 0.9em;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

#villeFavoriButton:hover {
    color: #ffcf00;
}

#villeFavoriButton img {
    width: 20px;
}




#contenuInfoPrincipal,
#contenuPollution,
#contenuLune,
#contenuSoleil,
#topMeteoTitre {
    background: linear-gradient(180deg, #2476bb, #38a2f0);
}

/**NAVBAR METEO*/
#typeDonneMeteo {
    width: 100%;
    height: 5.5vh;

    background-color: #135EA4;

    display: flex;
    align-items: center;
}

#typeDonneMeteo div {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

#typeDonneMeteo div:hover,
.isOpen {
    background-color: #115592;

}

.rightSeparation {
    border-right: solid;
    border-width: 1px;
    border-color: #2577BB
}

/**INFORMATIONS PRINCIPALES*/
#contenuInfoPrincipal {
    width: 100%;
    margin-bottom: 9px;

    display: flex;
    flex-direction: column;
}

#contenuInfoPrincipalDonnee {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*cercle donnee meteo*/
#cercleDonneeMeteo {
    width: 220px;
    height: 220px;
    border-radius: 90%;

    margin: 35px 0;

    background-color: #115592;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cercleDonneeMeteo img {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
}

#temperatureCercle {
    font-size: 3.1em;
    font-weight: 700;
}

#cercleSeparation {
    width: 60%;
    height: 1px;
    background-color: white;
    margin: 8px 0;
}

/*Information météo secondaire*/
#informationsSecondairePrincipalResultat {
    width: 49%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    text-align: left;

}

#informationsSecondairePrincipalResultat article {
    width: 40%;
    margin: 15px;

    display: flex;
}

#informationsSecondairePrincipalResultat article p {
    font-size: 1.2em;
    font-weight: 700;
    margin: 3px 0 0 0;
}

.imgInfoSecondaire {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.imgInfoSecondaire img {
    width: 80%;
}

#vent p {
    margin: 3px 0;
}

#vent img {
    width: 50%;
}

#humidite img {
    width: 95%;
    transform: rotate(180deg);
}

#tempRessentie img {
    width: 90%;
}


/**SOLEIL -- LUNE -- POLUTION*/
#contenuSoleil,
#contenuLune,
#contenuPollution {
    background-color: #89BFFF;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 0 40px 0;

}

#contenuSoleil h2,
#contenuLune h2,
#contenuPollution h2 {
    width: 100%;
}

#contenuSoleil img,
#contenuLune img {
    width: 9%;
}

#contenuSoleil p,
#contenuLune p {
    font-size: 1.2em;
    font-weight: 700;
    margin: 3px 0 0 0;
}

#contenuSoleil,
#contenuLune,
#contenuInfoJours,
#contenuInfoHeures {
    margin: 0 0 9px 0;
}


/**POLUTION -- POLUTION -- POLUTION */
#contenuPollution {
    margin-bottom: 100px;
}

#cercleResultatPolution {
    width: 110px;
    height: 110px;
    border-radius: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 1.4em;
    font-weight: 900;
}

#valeurDesDonnes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#valeurDesDonnes p {
    width: 48%;
    font-size: 1em;
    text-align: left;
}

#valeurDesDonnes #informationComplementaire {
    width: 100%;
    margin-top: 10px;

    font-size: 0.8em;
    font-style: italic;
}





/**JOUR/HEURE -- JOUR/HEURE -- JOUR/HEURE */

#contenuInfoJours,
#contenuInfoHeures {
    display: none;
    flex-direction: column;

    width: 100%;
}

.dayInfo,
.heureInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2577BB;
    height: 95px;
    font-size: 1.1em;
    padding: 0 15px;

    border-bottom: solid;
    border-width: 1px;
    border-color: #115592;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

.dayInfo:hover,
.heureInfo:hover {
    background-color: #115592;
}

.infoPrincipalOpen {
    background-color: #115592;
}

.dayInfo i,
.heureInfo i {
    cursor: pointer;
    transition: all 0.3s ease-out, transform 300ms;
}

.contenuPrincipalJour .iconMeteoJour,
.contenuInfoHeures .iconMeteoHeure {
    width: 35px;
}

.dayInfo h2,
.heureInfo h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.dayInfo img,
.heureInfo img {
    width: 35px;
}

.ventPrincipalJour p,
.ventPrincipalHeure p {
    margin-left: 10px;
}

.blue {
    color: #75D6FF;
}

.red {
    color: #F5C47A;
}

.ventPrincipalJour,
.ventPrincipalHeure {
    display: flex;
}

.ventPrincipalJour img,
.ventPrincipalHeure img {
    width: 15px;
}

.rafaleVentJour,
.ragaleVentHeure {
    font-size: 0.9em;
    font-weight: 300;
}

.humiditeJour,
.humiditeHeure {
    display: flex;
    align-items: center;
}



/**Informations bis meteo jour/heure */
.dayInfoBis,
.heureInfoBis {
    /* display: none; */
    display: flex;
    visibility: hidden;
    height: 0px;
    flex-direction: column;

    transition: all 0.5s ease 0s;

}

.dayInfoBis section,
.heureInfoBis section {
    display: flex;
    align-items: center;
    padding: 0 35px;
    height: 60px;
}

.dayInfoBis section h2,
.heureInfoBis section h2 {
    width: 50%;
    text-align: left;
    font-weight: 400;
    color: #75d6ff;
}

.dayInfoBis section p,
.heureInfoBis section p {
    font-weight: 600;
}

.dayInfoBisClair,
.heureInfoBisClair {
    background-color: #135EA4;
}

.dayInfoBisFonce,
.heureInfoBisFonce {
    background-color: #115592;
}